{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content %}

    {% if 'register' in request.META.HTTP_REFERER %}
        <span>Сообщение с активацией отправлено на почту!</span>
    {% endif %}

    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'auth:register' %}" class="">
            зарегистрироваться
        </a>
    </button>

    <button class="btn btn-round form-control">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="">
            Войти через VK
        </a>
    </button>

{% endblock %}
